t<!DOCTYPE html>
<html lang="en">

<head>
    <!--


    
    
    -->
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- input dropzoe js -->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <!-- input jQuery Mobile js -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- input jQuery js -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- input jQuery Mobile 库js-->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!--
	<link href="{{url_for('static',filename='css/jquery-ui.css')}}" rel="stylesheet">

	<script src="{{url_for('static', filename='jqueryUI/jquery.js')}}"></script>
-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='jqueryUI/jqpaginator.min.js')}}"></script>


    <!-- input bootstrap tag plugin js -->


    <script src="{{url_for('static', filename='tagsinput.js')}}"></script>
    <link href="{{url_for('static',filename='css/tagsinput.css')}}" rel="stylesheet">



    <title>QC 上傳</title>

</head>

<body>

    <style>
        .inputHeight {

            height: 10px
        }

        .no-gutters {
            margin-right: 0;
            margin-left: 0;

            >.col,
            >[class*="col-"] {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .tableTr {
            background-color: transparent;
            table-layout: fixed;
            text-align: left;
            vertical-align: middle;

        }

        .projectIcon {
            width: 20;
            font-size: 12px;
            background-color: black;
            color: azure
        }



        .position-fixed-top {
            position: fixed;
            top: 10;
            left: 0;
            background: rgb(0, 0, 0);
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        .position-fixed {
            position: fixed;
            top: 100px;
            left: 500px;
            background: rgb(0, 0, 0);
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        .position-sticky-left {
            position: relative;
            top: 10px;
            left: 10px;
            background: rgb(255, 255, 255);
            color: #fff;
            text-align: center;
            text-decoration: none;
            z-index: 500 !important;
        }


        .zIndexA {
            z-index: 1000 !important;

        }

        .td_project {}

        .leftNav {}

        .leftNavActive {

            color: brown;
        }


        .chineseStyleA {
            font-family: "微軟正黑體";
            font-size: 1em;
            color: white;
            font-weight: 200;
            letter-spacing: 0.1em
        }


        .chineseStyleB {
            font-family: "微軟正黑體";
            font-size: 1.1em;
            color: white;
            font-weight: 100;
            letter-spacing: 0.1em
        }

        .chineseStyleC {
            font-family: "微軟正黑體";
            font-size: 1.1em;
            font-weight: 100;
            letter-spacing: 0.2em
        }

        .chineseStyleD {
            font-family: "微軟正黑體";
            font-size: 1.1em;
            font-weight: 100;
            letter-spacing: 0.2em
        }



        .engStyleA {
            font-family: "Segoe UI";
            font-size: 1em;
            font-weight: 100;
            letter-spacing: 0.1em
        }


        .engStyleB {
            font-family: "Segoe UI";
            font-size: 1em;
            font-weight: 100;
            letter-spacing: 0.1em
        }

    </style>


    <div class="container">
        <div class="row clearfix" id="All">
            <!-- 最上層導航標籤-->
            <div class="col-md-12 column" id="NavOnTop">
                <div class="row no-gutters clearfix ">
                    <div class="col-md-4 column">
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
                            <ul class="navbar-nav" id="modeList">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" id="qcUpload">
                                        <h6 class="display-6 font-weight-light">Upload</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="ReviewNav">
                                        <h6 class="display-6 font-weight-light">Review</h6>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                    <div class="col-md-4 column" id="NavTop">
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-start ">
                            <ul class="navbar-nav " id="modeListUser">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" id="dataShow">
                                        <h6 class="display-6 font-weight-light">data</h6>
                                    </a>

                                </li>


                            </ul>
                            <ul class="navbar-nav " id="modeListUser">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" id="dataShow">
                                        <h6 class="display-6 font-weight-light " id="displayCurrentDate">null</h6>

                                    </a>

                                </li>


                            </ul>
                        </nav>
                    </div>

                    <div class="col-md-4 column">
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-start ">
                            <ul class="navbar-nav " id="modeListUser">
                                <li class="nav-item " id="loginBtnLi">

                                    <a class="nav-link align-middle">
                                        <h7 class=" btn btn-info btn-sm align-top" style="padding-top:0px;height:" id="loginBtn">Login</h7>
                                    </a>
                                </li>

                            </ul>


                            <input class="form-control form-control-sm " type="user" placeholder="ID" style="height: 25px" id="loginIDinputbox">
                            <input class="form-control form-control-sm " type="user" placeholder="password" style="height: 25px" id="loginPSinputBox">

                            <ul class="navbar-nav " id="modeListUser">
                                <li class="nav-item " id="loginBtnLi">

                                    <a class="nav-link align-middle">
                                        <h7 class=" btn btn-success btn-sm align-top" style="padding-top:0px;height:" id="loginSubmitBtn">Submit</h7>
                                    </a>
                                </li>

                            </ul>

                        </nav>


                    </div>



                </div>
            </div>
            <!-- UPLOAD DIV -->
            <div class="col-md-12 column" id="UploadDivAll">
                <div class="row no-gutters clearfix ">




                    <!--dropzone 功能鍵 送出/清除 -->

                    <div class="col-md-12 column text-left " id="dropzoneArea">

                        <form action="/qcUpload" class="dropzone chineseStyleA " id="dropzoneArea" method="POST" style="color:black;min-height: 300px">
                            <h6 class="chineseStyleA" id="infoProjectText"></h6>


                        </form>
                        <div class="btn-group btn-group-md-fluid" role="group" style="width: 100%">
                            <input class="btn btn-primary" type="button" id="clearAllUploadFiles" value="clear" style="width: 10em">
                            <input class="btn btn-warning" type="button" id="submitFiles" value="submit" style="width: 10em">
                            <input class="btn btn-secondary" type="button" id="testBTN_A" value="testA" style="width: 10em">
                            <input class="btn btn-secondary" type="button" id="testBTN_B" value="testB" style="width: 10em">
                            <input class="btn btn-secondary" type="button" id="" value="testC" style="width: 10em">
                            <input class="btn btn-secondary" type="button" id="" value="testD" style="width: 10em">
                            <input class="btn btn-secondary" type="button" id="" value="testE" style="width: 10em">

                        </div>

                        <!--<input type="text" class="form-control" id="tagInput">-->
                        <!--  data-role="tagsinput" -->
                    </div>


                    <!-- 專案顯示 選擇 進行 最近 或是 已完成 -->
                    <div class="col-md-12 column">

                        <nav class="navbar navbar-expand-md navbar-dark justify-content-start chineseStyleA " style="background-color: rgb(50,50,50);height: 80%">
                            <ul class="navbar-nav">
                                <li class="nav-item active leftNav" id="navbarProcess">
                                    <a class="nav-link" href="#" id="navbarTextProcess">
                                        <h6 class="display-6 font-weight-normal">進行中</h6>
                                    </a>
                                    <!--<a class="nav-link leftNav" id="navbarTextProcess" style="color:darkslategrey" href="#">進行中</a>-->
                                </li>
                                <li class="nav-item leftNav" id="navbarRecent">
                                    <a class="nav-link" href="#" id="navbarTextRecent">
                                        <h6 class="display-6 font-weight-normal">最近</h6>
                                    </a>
                                    <!--<a class="nav-link leftNav" id="navbarTextRecent" style="color:cadetblue" href="#">最近</a>-->
                                </li>
                                <!--
                                <li class="nav-item" id="navbarRecentInputText">
                                    <input class="form-control w-2 p-2" type="text" value="20" style="width: 50px;margin: -5px">
                                  </li>
                                  -->
                                <li class="nav-item leftNav" id="navbarComplete">
                                    <a class="nav-link" href="#" id="navbarTextComplete">
                                        <h6 class="display-6 font-weight-normal">已完成</h6>
                                    </a>
                                    <!-- <a class="nav-link leftNav" id="navbarTextComplete" style="color:cadetblue" href="#">已完成</a> -->
                                </li>

                            </ul>
                        </nav>
                        <nav class="navbar navbar-expand-md navbar-dark justify-content-start chineseStyleA " style="background-color: rgb(50,50,50);height: 80%">
                        </nav>

                    </div>

                    <!-- 專案顯示 -->
                    <div class="col-md-12 column">
                        <div class="row clearfix ">
                            <div class="col-md " id="tableRight">

                                <table class="table col-md table-hover tableTr bg-dark">
                                    <thead>
                                        <tr>
                                            <th style="width:20%;border-style: hidden">
                                                <h6 class="chineseStyleA"></h6>
                                            </th>
                                            <th style="width:20%;border-style: hidden">
                                                <h6 class="chineseStyleA"></h6>
                                            </th>
                                            <th style="width:20%;border-style: hidden">
                                                <h6 class="chineseStyleA"></h6>
                                            </th>
                                            <th style="width:20%;border-style: hidden">
                                                <h6 class="chineseStyleA"></h6>
                                            </th>
                                            <th style="width:20%;border-style: hidden">
                                                <h6 class="chineseStyleA"></h6>
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody id="rightTableForProjs">




                                    </tbody>
                                </table>
                                <button type="button" id="showMoreItemLeft" class="btn btn-info align-middle" style="background-color: rgb(220,220,220)"><h5>more projects</h5></button>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- REVIEW DIV -->
            <div class="col-md-12 column" id="reviewAll">




                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel slide" id="carousel-981174" style="height:300px">
                                    <!--
                                    <ol class="carousel-indicators">
                                        <li data-slide-to="0" data-target="#carousel-981174" class="active">
                                        </li>
                                        <li data-slide-to="1" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="2" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="3" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="4" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="5" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="6" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="7" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="8" data-target="#carousel-981174">
                                        </li>
                                        <li data-slide-to="8" data-target="#carousel-981174">
                                        </li>
                                    </ol>
                                    -->
                                        <div class="carousel-inner" id="reviewProjectNAV_div">
                                            <!--
                                             <div class="carousel-item active">
                                             
                                                 <img id = "img1" class="d-block w-100" src="http://192.168.161.193:8080/database/projects/projectIcons/live_casino_2019_v001_icon.png">
                                             
                                            </div>
                                            
                                                                            
                                             <div class="carousel-item">
                                             
                                                 <img id = "img2" class="d-block w-100" src="http://192.168.161.193:8080/database/projects/projectIcons/qc_db_v001_icon.png" >
                                             
                                            </div>
                                                                                   <div class="carousel-item">
                                             
                                                 <img  id = "img3" class="d-block w-100" src="http://192.168.161.193:8080/database/projects/projectIcons/no_image.png">
                                             
                                            </div>
                                            -->
                                        </div> 
                                    <!--幻燈片箭頭 -->
                                    <a class="carousel-control-prev" href="#carousel-981174" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span>
                                    </a> <a class="carousel-control-next" href="#carousel-981174" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- preview item table 預覽物件 -->
                         <!--<div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Payment Taken
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                01/04/2012
                                            </td>
                                            <td>
                                                Default
                                            </td>
                                        </tr>
                                        <tr class="table-active">
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                01/04/2012
                                            </td>
                                            <td>
                                                Approved
                                            </td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                02/04/2012
                                            </td>
                                            <td>
                                                Declined
                                            </td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                03/04/2012
                                            </td>
                                            <td>
                                                Pending
                                            </td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                TB - Monthly
                                            </td>
                                            <td>
                                                04/04/2012
                                            </td>
                                            <td>
                                                Call in to confirm
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->
                    </div>
                </div>








            </div>

        </div>
    </div>


    <!-- script for Review -->

    <script>

        
        
        $('#ReviewNav').click(function(){
               
            console.log('REVIEW');  
            $('#UploadDivAll').hide()
            $('#reviewAll').show(200);  
            
            
            $('#carousel-981174').carousel({
                
                interval: false  //輪播速度
            })
            
            //取得已上傳的QC資料
            var uploadLastCount = 10;
            $.post("/qcdbUpdata", {
                    "deltaTime":"deltaYearTime",
                    "uploadLastCount": uploadLastCount,
                    "projectStatus": ".In Progress",

            }, function(data) {
                                   // console.log(Object.keys(data))
                    creatReviewProjectNav(data)
                    //createProjectTableLeft(data['timeBase'],data['timeBaseProjectList'])
                    //createPreviewTable(data['timeBase'],"projectType")
            });
            
        })
        
        //創建review 預覽幻燈片
        function creatReviewProjectNav(qcFileData){
            projectsReviewKeys = Object.keys(qcFileData);
            projectsReviewKeysCount = Object.keys(qcFileData).length;
            
          //  console.log('qcFileData',qcFileData,projectsReviewKeys,projectsReviewKeysCount);
            for(var i =0;i<projectsReviewKeysCount;i++){
                var projectName = projectsReviewKeys[i];
                var projectChnName = qcFileData[projectName]['name_chn'];
                var projectData = qcFileData[projectName]//[Object.keys(qcFileData[projectName])]
                var projectIconKey = Object.keys(projectData)[0]//projectData[Object.keys(projectData)]
                var projectSampleIconFile = projectData[projectIconKey]['icon_file']
               // var projectSampleIconFile = projectData[projectIconKey]['file_name']

                var projectSampleIconURL = "http://192.168.161.193:8080/"+ projectSampleIconFile.split('e:/webServer/').slice(1)[0]
               // console.log('projectName',projectName,projectChnName)
                //console.log('projectSampleIcon',projectData)
                //console.log('projectSampleIconURL',projectSampleIconURL)
                //http://192.168.161.193:8080/
                $div_car0 = $('<div class = carousel-item active></div>')
                $div_car1 = $('<div class = carousel-item></div>')

                $img_car1 = $('<img class="h-100" src="' + projectSampleIconURL+ '" />')
                $h_car1 = $('<h7>'+projectName+'</h7><br>')
                $h_car2 = $('<h7>'+projectChnName+'</h7><br>')
                
                
                if( i == 0){
                    $('#reviewProjectNAV_div').append($div_car0)
                    $('#reviewProjectNAV_div').append($img_car1)
                    
                    
                    
                }else{
                    
                    if ( i%4 == 0){
                        
                        $('#reviewProjectNAV_div').append($div_car1)
                        $('#reviewProjectNAV_div').append($img_car1)
                    
                        
                    }else{
                        
                        $('#reviewProjectNAV_div').append($img_car1)
                        
                        
                    }
                    
                };
                

                
                
                /*
                if(i==0){
                    console.log(i,projectSampleIconURL)
                    // $div0 = $('<div class="carousel-item active">')//'<div class="carousel-item active">'
                   // $('#reviewProjectNAV_div').append('<div></div>')
                    
                    $cr0 = $('<div class="carousel-item active">'+
                            
                            '<img class="h-100" src="' + projectSampleIconURL+ '" />' +
                            
                            '<div class="carousel-caption">' +
                             
                            '<h7>'+projectName+'</h7><br>' + 
                             '<h7>'+projectChnName+'</h7>' +

                            '</div>' +
                             
                            '</div>'    
                            )
                    
                

                }else{
                    console.log(i,projectSampleIconURL)
                    $cr0 = $('<div class="carousel-item">'+
                            
                            '<img class="h-100" src="' + projectSampleIconURL+ '" />' +
                            
                            '<div class="carousel-caption">' +
                                
                            '<h7>'+projectName+'</h7><br>' +
                             '<h7>'+projectChnName+'</h7>' +
                            '</div>' +
                             
                            '</div>'    
                            )
                    
                    
                }
                
                $('#reviewProjectNAV_div').append($cr0)
                */

            };
            //$Rtr = $('<tr class="table-active "' +
            //$('#reviewProjectNAV_div').append()
            //reviewProjectNAV_div
            /*
            <div class="carousel-item active">
            <div class="carousel-item">
                <img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://www.layoutit.com/img/sports-q-c-1600-500-2.jpg" />
                <div class="carousel-caption">
                    <h4>
                        Second Thumbnail label
                    </h4>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
            */
            
        };
            
    </script>





    <!-- script for upload -->
    <script>
        //初始設定 start


        var webServerRoot = "e:/webServer"
        var uploadPath = webServerRoot + "/uploads"
        var projectDBPath = webServerRoot + "/database"


        //初始變數
        var currentUser = ""

        var currentSelectProject = ""
        var currentSelectProjectCN = ""
        var currentSelectProjectGameCode = ""

        var currentSelectProjectType = "/getProjectProcessDB"
        var currentProjectShowFromNum = 0
        var currentProjectShowToNum = 10
        var sendFileList = []
        // var projectLocation = projectDBPath +"/" +projectName









        //初始設定 end


        //dropzone 事件設定

        Dropzone.options.dropzoneArea = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 500, // MB
            autoProcessQueue: false,
            parallelUploads: 100,
            acceptedFiles: ".json , .png, .jpg ,.skel, .atlas, .pdf, .pptx, .ppt, .txt, .doc, .xml, .mb, .ma, .max, .3ds, .mp4, .avi, .mov",
            ignoreHiddenFiles: true,

            init: function() {
                var myDropzone = this;

                // Update selector to match your button
                $("#submitFiles").click(function(e) {
                    //sendFileList =[]

                    e.preventDefault();
                    myDropzone.processQueue();
                    fileCounts = Object.keys(myDropzone.files).length
                    console.log("fileCounts", fileCounts)
                    for (var i = 0; i < fileCounts; i++) {

                        // console.log("file",myDropzone.files[i]['name'])
                        sendFileList.push(myDropzone.files[i]['name'])
                    };
                    console.log('sendFileList', sendFileList)
                    // fileUploadCompleted()

                })

                myDropzone.on("complete", function(file) {

                    var files = String(sendFileList)
                    $.post("/qcUpload" //, {"sendFileList": files,
                        // 'youdata': 'youdata from front'} ,
                        //  function(data){
                        //  console.log("feedback",data)
                        //  }
                    );
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        fileUploadCompleted();
                    }


                });



                function fileUploadCompleted() {
                    // this.on("complete", function() {
                    var files = String(sendFileList)
                    $.post("/defineUploadFiles", {
                            "sendFileList": files, //waitting for all files uploaded
                            'projectName': currentSelectProject,
                            'projectNameCN': currentSelectProjectCN
                        },
                        function(data) {
                            console.log("feedback", data)
                            //myDropzone.removeAllFiles()
                        }


                    );
                }


                $("#clearAllUploadFiles").click(function(e) {

                    myDropzone.removeAllFiles()

                })

            }

        };


        var selectedProjList = [];
        //按下login btn

        $('#loginBtn').click(function() {

            $("#loginIDinputbox").show(100);
            $("#loginPSinputBox").show(100);
            $("#loginSubmitBtn").show(100);


        });
        $('#loginSubmitBtn').click(function() {
            var loginID = $("#loginIDinputbox").val()
            var loginPS = $("#loginPSinputBox").val()
            console.log(loginID, loginPS)

            $("#loginIDinputbox").hide();
            $("#loginPSinputBox").hide();
            $("#loginSubmitBtn").hide();



        });






        $("#submitFiles").click(function() {

            sendFileList = []


        })


        // upload tag input
        $("#tagInput").tagsinput({
            tagClass: function(item) {

                //console.log(item)

                if (item == '3d') {
                    return 'bg-white text-dark'
                } else {
                    return 'bg-info text-white'
                };
            }


        });


        // 按下   testBTN_A  按鈕
        $('#testBTN_A').click(function() {
            console.log('click testA')
            $.post("/syncDBIconB", function(data) {
                console.log(data)
            })

        });

        // 按下   testBTN_B  按鈕
        $('#testBTN_B').click(function() {


            //  $.post("/syncDBIcon",({console.log(data)}))

            $.post("/syncDBIcon", function(data) {
                console.log(data)
            })

            // console.log('syncDBIcon Post')

        });




        // 按下upload按鈕
        $('#qcUpload').click(function() {
            // var noProjectText = $('<h5 class ="text-danger display-5" id="infoProjectText" >select project</h5>')
            // $("#infoProjectText").remove()
            // $("#divRightInfo").append(projectSelectText);
            // $("#tableRight").remove(); divRightInfo
            $("#infoProjectText").text("select project")

            console.log(selectedProjList.length)
            if (selectedProjList.length == 0) {
                // $("#divRightInfo").append(noProjectText)
            } else {
                // $("#infoProjectText").value = "";
                //  $("#divRightInfo").remove()
                //  var projectSelectText = $('<h5 class ="text-info " id="infoProjectText" >' +
                //       selectedProjList[1] +
                //       '</h5>'
                //  )
                //  $("#divRightInfo").append(projectSelectText);
                $("#infoProjectText").text(selectedProjList[1]);
                createUploadZone()
            }

        })
        //按下 進行中 按鈕
        $('#navbarProcess').click(function() {
            console.log("clicked nav bar inProcess");
            // $('.leftNav').css('color', 'cadetblue'); navbarProcess
            // $('.leftNav').attr('class', 'nav-item');
            $('#navbarProcess').attr('class', 'nav-item active');
            $('#navbarRecent').attr('class', 'nav-item');
            $('#navbarComplete').attr('class', 'nav-item');
            // $('#navbarTextProcess').css('color', 'darkslategrey');

            $(".td_project").remove();
            currentSelectProjectType = "/getProjectProcessDB"
            currentProjectShowFromNum = 0
            currentProjectShowToNum = 10
            //createProjectTable("/getProjectProcessDB", 0, 10);
            createProjectTableInRightTable("/getProjectProcessDB", 0, 10)
        });



        //按下 最近 按鈕
        $('#navbarTextRecent').click(function() {
            console.log("clicked nav bar Recent");
            // $('.leftNav').css('color', 'cadetblue'); navbarRecent

            // $('.leftNav').attr('class', 'nav-item');
            $('#navbarRecent').attr('class', 'nav-item active');
            $('#navbarProcess').attr('class', 'nav-item');
            $('#navbarComplete').attr('class', 'nav-item');
            // $('#navbarTextRecent').css('color', 'darkslategrey'); 

            $(".td_project").remove();
            currentSelectProjectType = "/getProjectRecentDB"
            currentProjectShowFromNum = 0
            currentProjectShowToNum = 10
            //createProjectTable("/getProjectRecentDB", 0, 10);
            createProjectTableInRightTable("/getProjectRecentDB", 0, 10)



        });


        //按下 已完成 按鈕 
        $('#navbarTextComplete').click(function() {
            console.log("clicked nav bar complete");
            // $('.leftNav').attr('class', 'nav-item');
            $('#navbarComplete').attr('class', 'nav-item active');
            $('#navbarProcess').attr('class', 'nav-item');
            $('#navbarRecent').attr('class', 'nav-item');
            // $('.leftNav').css('color', 'cadetblue');
            //  $('#navbarTextComplete').css('color', 'darkslategrey', 0, 10);

            $(".td_project").remove();
            currentSelectProjectType = "/getProjectCompletedDB"
            currentProjectShowFromNum = 0
            currentProjectShowToNum = 10
            //createProjectTable("/getProjectCompletedDB", 0, 10);
            createProjectTableInRightTable("/getProjectCompletedDB", 0, 10)
        });

        //按下顯示更多專案
        $('#showMoreItemLeft').click(function() {
            currentProjectShowFromNum = currentProjectShowFromNum + 10;
            currentProjectShowToNum = currentProjectShowToNum + 10;
            console.log(currentSelectProjectType, currentProjectShowFromNum, currentProjectShowToNum)

            let projectState = currentSelectProjectType;
            let fromNum = currentProjectShowFromNum;
            let toNum = currentProjectShowToNum;
            //  createProjectTable(projectState, fromNum, toNum)
            createProjectTableInRightTable(projectState, fromNum, toNum)
        });



        //顯示上傳區域

        function createUploadZone() { // 可能要先創立 div 
            console.log("create upload zone")
            var rootPath = ""
            $("#dropzoneArea").show(500);
            /*
            $.ajax({
                url: "/qcUpload",
                data: {
                    "url": "1"
                }
            });
            */
        };





        //取得專案資料夾資訊

        function getProjectPath(projectName) {
            var projectPath = projectDBPath + "/" + projectName
            var projectQCPath = projectPath + "/qc"
            var projectQCIconPath = projectQCPath + "/icons"
            var projectAssetsPath = projectPath + "/assets"
            var projectAssetsIconsPath = projectAssetsPath + "/icons"
            var projectShotsPath = projectPath + "/shots"
            var projectShotsIconsPath = projectShotsPath + "/icons"
            console.log('projectShotsIconsPath', projectShotsIconsPath)
            //return 
        };




        //顯示專案

        function createProjectTableInRightTable(projectState, fromNum, toNum) {
            $.getJSON(projectState, function(data) {

                for (var i = fromNum; i < toNum; i++) { //data.length
                    // console.log(data[i]);
                    //var projectName = data[i][0]
                    //var projectCNName = data[i][3]
                    //var projectGameCode = data[i][1]
                    // var projectIcon = data[i][9]
                    // console.log(i % 4, Math.floor(i / 5))
                    // console.log(data[i]);
                    var projectName = data[i][0]
                    var projectCNName = data[i][3]
                    var projectGameCode = data[i][1]
                    var projectIcon = data[i][9]
                    var $Rtr = $('<tr class="table-active "' +
                        'id="' + projectGameCode + '"' +
                        '></tr>');
                    var $Rtd2 = $('<td class="td_project  text-center co-md " style="border: 0px;font-size: 12px;text-align: left"' +
                        'id="' + projectCNName + "," + projectName + ',' + projectGameCode + '"' +
                        '>' +
                        '<a class="text-light text-center chineseStyleC td_project  ">' + projectCNName + "," + '</a>' + '<br>' +
                        '<a class="text-light text-center chineseStyleD td_project">' + projectName + '</a>' + '<br>' +
                        '<img src="' +
                        projectIcon + '"' +
                        'class="td_project rounded-circle" style="padding: 1px;height:130px;width:130px"' +
                        //  'id="' + projectCNName + "," + projectName + ',' + projectGameCode + '"' +
                        '>' + '<br>' +
                        '</td>');


                    if (i % 5 == 0) {
                        $('#rightTableForProjs').append($Rtr);
                        $('#rightTableForProjs').append($Rtr)
                        //  $('#rightTableForProjs').append($Rtd3)
                        $('#rightTableForProjs').append($Rtd2)


                    } else {

                        // $('#rightTableForProjs').append($Rtd3)
                        $('#rightTableForProjs').append($Rtd2)

                    };

                    $Rtd2.click(function() { //click project icon
                        // console.log($(this).text());
                        //  console.log($(this).attr("id"));
                        selectedProjList = []
                        currentSelectProject = ($(this).attr("id")).split(',')[1]
                        currentSelectProjectGameCode = ($(this).attr("id")).split(',')[2]

                        // console.log("afddsfdsfdsfdsfdf",projectName)
                        selectedProjList.push(currentSelectProject)
                        selectedProjList.push($(this).attr("id"))
                        // $("#infoProjectText").remove()
                        var projectSelectText = $('<h5 class ="text-info " id="infoProjectText" >' +
                            selectedProjList[1] +
                            '</h5>')
                        // $("#divRightInfo").append(projectSelectText);
                        $("#infoProjectText").text(selectedProjList[1]);
                        $("#infoProjectText").attr('class', 'text-info display-6');
                        $(".td_project").css({
                            "border-style": "none",
                        });
                        $(this).css({
                            "border-style": "solid",
                            "border-width": "2px",
                            "border-color": "rgb(200,230,200)"
                        });
                        currentSelectProjectCN = selectedProjList[1]

                        //console.log("currentSelectProject", currentSelectProjectCN,currentSelectProject, currentSelectProjectGameCode)
                        console.log("currentSelectProjectCN", currentSelectProjectCN)

                        createUploadZone();

                        // getProjectPath(projectName)

                        //$("#tableRight").remove();
                    });



                }

            })





        }




        $(document).ready(function() {
            $("#tableLeft").disableSelection();
            $("#divSideLeft").disableSelection();
            //get current date
            n = new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            date = m + "/" + d + "/" + y;
            // console.log(date)
            $("#displayCurrentDate").text(date)

            $.getJSON("/getUserDB", function(data) { // get userData

                // console.log("data",data)

            })

            // createProjectTable("/getProjectProcessDB", 0, 10); //call recent project 
            //  $("#projectTableList").hide();

            $("#loginDataSubmit").hide();


            $("#dropzoneArea").hide();

            $("#loginIDinputbox").hide();
            $("#loginPSinputBox").hide();
            $("#loginSubmitBtn").hide();
            $("#reviewAll").hide();





            // Check which wheel event is supported. Don't use both as it would fire each event 
            // in browsers where both events are supported.

            createProjectTableInRightTable("/getProjectProcessDB", 0, 10);

        })

        function scrollUp(item) {
            //   console.log("scroll up")
            var itemPosition = $(item).position()
            var ya = itemPosition.top
            //var y = parseInt($(item).offset().top)
            // itemPosition.top = 200
            //var scrollValue = 10
            ya = itemPosition.top - 10
            //    console.log("ya", ya)

            //console.log($(item).offset().top)
        }

        function scrollDown(item) {
            //  console.log("scroll down")
            var itemPosition = $(item).position()
            var yb = itemPosition.top
            // var y = parseInt($(item).offset().top)
            yb += 10
            //  console.log("yb", yb)
            // $(item).css({"top": yb});
        }



        var maxList = 10
        var startNum = 10
        var endNum = 55
        //createTable(maxList, startNum, endNum)

        function createTable(maxList, startNum, endNum) {
            for (var i = startNum; i < endNum + 1; i++) {

                var $tr = $('<tr class="tr_content"></tr>');
                var $td1 = $('<td style="border: 0px">' +
                    i +
                    '</td>')
                var $td2 = $('<td style="vertical-align: middle;border: 0px">' +
                    '<img src="http://vg.com/assets/simpleslot/battle_of_ball/qc/win.png" class="rounded float-left " style="height:100px">' +

                    // '<img src="http://vg.com/assets/simpleslot/battle_of_ball/icon/battle_of_ball_v001_icon.png" class="img-thumbnail ">' +
                    '</td>');
                var $td3 = $('<td style="border: 0px">' +
                    'projectName' +
                    '</td>')


                $("#tableBodyLeft").append($tr);
                $("#tableBodyLeft").append($td1);

                $("#tableBodyLeft").append($td2);
                $("#tableBodyLeft").append($td3);



            };
        };

    </script>
</body>

</html>
